kind: Deployment
apiVersion: apps/v1
metadata:
  name: xcm-connector
  labels:
    app: xcm-connector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: xcm-connector
  template:
    metadata:
      labels:
        app: xcm-connector
    spec:
      serviceAccountName: xcm-connector
      containers:
      - name: xcm-connector
        image: quay.io/morvencao/xcm-connector:latest
        imagePullPolicy: Always
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        args:
          - "/xcm-connector"
          - "controller"
          - "--disable-leader-election"
          - "--xcm-server=https://api.stage.openshift.com"
          - "--control-plane-kubeconfig=/var/xcm-connector/kubeconfig"
        volumeMounts:
        - name: multicluster-controlplane-kubeconfig
          mountPath: "/var/xcm-connector"
      volumes:
      - name: multicluster-controlplane-kubeconfig
        secret:
          secretName: multicluster-controlplane-kubeconfig
